<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:q="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/default.xhtml">
<head>
<link id="template-file" href="/WEB-INF/templates/default.xhtml" rel="default" />  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class=container ng-controller="#">
		<h3 class="text-center">Pedidos Pendientes</h3>
		<div class="panel panel-primary">
			<div class="panel-heading">Pedidos de los clientes</div>

			<table class="table">
				<thead>
					<tr>
						<th>Cedula</th>
						<th>Nombre</th>
						<th>Fecha</th>
						<th>Codigo Pedido</th>
						<th>Cuotas</th>
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="p in pedidos">
						<td>{{p.cedula}}</td>
						<td>{{p.nombre}}</td>
						<td>{{p.fecha}}</td>
						<td>{{p.codPedido}}</td>
						<td>{{p.cuotas}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<button type="button" class="btn btn-primary center-block">Ver
			Productos</button>
		<br />
		<div class="panel panel-primary">
			<div class="panel-heading">Productos Pedidos</div>
			<table class="table">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Nombre</th>
						<th>Cantidad</th>
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="p in producto">
						<td>{{p.codigo}}</td>
						<td>{{p.nombre}}</td>
						<td>{{p.cantidad}}</td>
					</tr>

				</tbody>
			</table>
		</div>
		<button type="button" class="btn btn-primary center-block">Pedir</button>

	</div>


</body>
</html>