
	<div class=container ng-controller="pedidosController">



		<em>
			<h3 class="text-center">Categorias</h3>
		</em>
		<div class="row" align="center">
			<div class="col-md-3" ng-click="listarProductos('SALUD')">
				<p ng-model="categoria">SALUD</p>
				<img src="../resources/productos/limpieza.jpg" alt="Pulpit Rock"
					style="width: 100px; height: 100px">
			</div>
			<div class="col-md-3" >
				<p ng-model="categoria">MAQUILLAJE</p>
				<img src="../resources/productos/maquillaje.jpg"
					alt="Moustiers Sainte Marie" style="width: 100px; height: 100px" ng-click="listarProductos('MAQUILLAJE')">
			</div>
			<div class="col-md-3">
				<p>ROPA</p>
				<img src="../resources/productos/ropaa.jpg" alt="Cinque Terre"
					style="width: 100px; height: 100px" ng-click="listarProductos('ROPA')">
			</div>
			<div class="col-md-3">
				<p>JOYERIA</p>
				<img src="../resources/productos/acce.jpg" alt="Cinque Terre"
					style="width: 100px; height: 100px" ng-click="listarProductos('JOYERIA')">
			</div>

		</div>

		<div class="row">
			<label for="sel1">Categoria 1</label>
			 <select class="form-control" id="sel1" ng-model="seleccionado" ng-options="p as p.nombre for p in productos" >
			<option value="">Seleccione una opcion</option>
			</select>
			<div class="form-group">
				<br />

			</div>
		</div>
		<div style="float: right;">
		<div class="row">
			<label for="sel1">Ciudad</label>
			 <select class="form-control" id="sel1" ng-model="ciudad"
				ng-options="c as c.nombre for c in ciudades"  ng-change="listarAfiliados(ciudad)">
			<option value="">Seleccione una opcion</option>
			</select>
			<div class="form-group">
				<br />

			</div>
		</div>
		
		<div class="row">
			<label for="sel1">Vendedor</label>
			 <select class="form-control" id="sel1" ng-model="afiliado"
				ng-options="c as c.nombre for c in afiliados" >
			<option value="">Seleccione una opcion</option>
			</select>
			<div class="form-group">
				<br />

			</div>
		</div>
		
		<label for="usr" class="control-label">Cuotas</label> <input
				type="number" step="any" id="usr" min="1" max="6" ng-model="cuotas">
		</div>

		<div>
			<label for="usr" class="control-label">Cantidad</label> <input
				type="number" step="any" id="usr" min="0" ng-model="cantidad">
			<button type="button" class="btn btn-primary" ng-click="llenarTabla()">Agregar</button>

		</div>






		<h3 class="text-center">Productos Agregados</h3>
		<div class="panel panel-primary">
			<div class="panel-heading">Productos</div>

			<table class="table">
				<thead>
					<tr>
					<th>Codigo</th>
						<th>Nombre</th>
						<th>Cantidad</th>

					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="l in listaTabla" ng-click="eliminarTarea(l)">
						<td>{{l.codigo}}</td>
						<td>{{l.nombre}}</td>
						<td>{{l.cantidad}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<button type="button" class="btn btn-primary center-block" ng-click="realizarPedido()">Pedir</button>
		<br /> <br />
		<div class="row" align="center">
			<h3 class="text-center">Datos Cliente</h3>




		</div>
	</div>
